
Proiect_Final/Library/ArtifactDB
Proiect_Final/Library/Artifacts/00/00195660675552a8ca2add3d7587da8f
Proiect_Final/Library/**
Proiect_Final/Library/**.**
Proiect_Final/Library/*
Proiect_Final/Library/*.*
Proiect_Final/[Ll]ibrary/**
Proiect_Final/[Tt]emp/**
Proiect_Final/[Oo]bj/**
Proiect_Final/[Bb]uild/**
Proiect_Final/[Bb]uilds/**
Proiect_Final/[Ll]ogs/**
Proiect_Final/[Mm]emoryCaptures/**
Proiect_Final/Library/ArtifactDB-lock
Proiect_Final/Library/Bee/1900b0aE.dag
Proiect_Final/Library/ArtifactDB
Proiect_Final/Library/Bee/1900b0aE.dag
